.scrollArea {
    scrollbar-width: thin;
    scrollbar-color: #ea580c transparent;
  }
  
  .scrollArea::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollArea::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .scrollArea::-webkit-scrollbar-thumb {
    background-color: #ea580c;
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
  
  .scrollArea::-webkit-scrollbar-thumb:hover {
    background-color: #d9480f;
  }
  